
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}

.brand {
    font-weight: bold;
    font-size: 27px; }
  
  .site-header__top {
    background-color: #def7ff; }
    .site-header__top ul {
      display: flex; }
    .site-header__top li:not(:last-child) {
      margin-right: 1.5rem; }
    .site-header__top .site-header__start {
      display: none; }
  
  .site-header__bottom {
    position: relative;
    background-color: #81c9d6; }
    @media (max-width: 939px) {
      .site-header__bottom .site-header__end {
        order: -1; } }
  .site-header__wrapper {
    display: flex;
    justify-content: space-between; }
  
  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; }
    @media (min-width: 940px) {
      .site-header__wrapper {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem; } }
  .site-header__end {
    display: flex;
    align-items: center; }
  
  .site-header__end.top > * + * {
    margin-left: 1.5rem; }
  
  @media (min-width: 940px) {
    .site-header__end.bottom > *:not(:last-child) {
      margin-right: 1.5rem; } }
  
  @media (max-width: 939px) {
    .site-header__end.bottom .cart {
      margin-right: 1.5rem; } }
  
  @media (max-width: 939px) {
    .site-header__end.bottom .search {
      margin-left: 0; } }
  
  .site-header__end.bottom svg {
    width: 22px;
    height: 22px; }
  
  @media (min-width: 940px) {
    .nav__wrapper {
      display: flex; } }
  
  @media (max-width: 939px) {
    .nav__wrapper {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: #d9f0f7;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
      .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); } }
  
  .nav__item:not(:last-child) {
    margin-right: 1.5rem; }
  
  .nav__item a {
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
    @media (max-width: 939px) {
      .nav__item a {
        padding: 1rem; } }
  .nav__item.active a {
    border-left-color: #222; }
    @media (min-width: 800px) {
      .nav__item.active a {
        border-bottom-color: #222; } }
  .nav__toggle {
    position: absolute;
    right: 1rem;
    top: 1rem; }
    @media (min-width: 940px) {
      .nav__toggle {
        display: none; } }
#profile {
    border:none;
    background-color: #81c9d6;
    color: black;
    font-size: 2em;
    outline: none;
 }
          
#profile:hover {
    color: white;
}

#home:hover {
    color: white;
}


#logout {
    font-size:0.6em;
    width:5em;
    height:2em;
    border-width:1px;
    color:#fff;
    border-color:#b36259;
    font-weight:bold;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    text-shadow: 0px 1px 0px #8a3e3d;
    background:linear-gradient(#b36259, #994040);
    outline: none;
  }
  
  #logout:hover {
    background: linear-gradient(#994040, #b36259);
  }
